body{

    background-image: url("bg.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  margin: 0.975rem;
}
.container{
    width: 100%;
height:100%;
}